* {
    margin: auto;
    padding: 0%;
    text-align: center;    
}

#projeto {
    margin-top: 10px;
    border-style: double;
    width: 400px;
}

#title {    
    font-family: 'Arial';
    width: 400px;    
}

body {    
    background-image: url(images/background.png);
    display: inline-flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 10px;
    text-align: center;
    align-content: center;
}

#paleta{
    border-style: groove;
}

.color {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#preto {
    background-color: black;
}

.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0%;
    padding: 0%;
    display: inline-block;
}

#parametro {
    display: inline-flex;
    flex-direction:row;
    width: auto;
}

#board-size {
    width: 150px;
}

#pixel-board {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
}

#moldura {
    width: fit-content;
    padding: 10px;
}